<nav class="navbar navbar-static-top">
	<div class="navbar-brand">
		<a href="/">Home</a>
		<form method="get" action="/contacts/search" class="search-form">
			<div>
				<input name="q" type="search" placeholder="search" value="<%= query %>" autofocus/>
				<input type="submit" style="display: none" />
			</div>
		</form>
		<% if (isAdmin) { %>
			<a href="/admin/new">New Contact</a>
		<% } %>
	</div>
	<div class="navbar-right">

		<% if (locals.isLoggedIn) { %>
			<a class="btn btn-default auth" href="/auth/logout">Log Out</a>
		<% } else { %>
			<a class="btn btn-default auth" href="/auth/signup">Sign Up</a>
			<a class="btn btn-default auth" href="/auth/login">Login</a>
		<% } %>
	</div>

</nav>
