<%- include header.ejs %>

<div class="card">
	<h2 class="text-center">New Contact</h2>
	<div class="card-block">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<form method="post" action="/admin">
					<div class="form-group">
						<label for="first_name">First Name:</label>
						<input type="text" name="first_name">
					</div>
					<div class="form-group">
						<label for="last_name">Last Name:</label>
						<input type="text" name="last_name">
					</div>
					<input class="btn btn-default" type="submit" name="submit" value="Add Contact">
				</form>
			</div>
		</div>
	</div>
</div>
</div>

<%- include footer.ejs %>
