<%- include ./header %>

	<div>
		<% if(message.length > 0) { %>
			<% if(success === false) { %>
				<div class="alert alert-danger text-center">
					<%= message %>
				</div>
			<% } %>
		<% } %>
	</div>

	<div class="panel panel-default text-center">
		<div class="panel-heading">
			<h2 class="text-center">Sign Up</h2>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<form method="post" action="/auth/signup">
						<div class="form-group">
							<label for="name">Name:</label>
							<input type="name" name="name" placeholder="Jane Smith" required>
						</div>
						<div class="form-group">
							<label for="email">Email:</label>
							<input type="email" name="email" placeholder="email@email.com" required>
						</div>
						<div class="form-group">
							<label for="password">Password:</label>
							<input type="password" name="password" placeholder="password" required>
						</div>
						<div class="form-group">
							<label for="passwordConfirm">Confirm Password:</label>
							<input type="password" name="passwordConfirm" placeholder="confirm password" required>
						</div>
						<input class="btn btn-success" type="submit" name="submit" value="submit">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include ./footer %>
